@page "/svgdemo"
@using Models
<head>
    <link rel="stylesheet" href="~/css/SVG_Demo.css" />
</head>

<h3>Svg_Demo</h3>

<div>
    <svg height="600" width="800" style="border:1px solid black; background-color:transparent ;">
        <line x1="50" y1="550" x2="750" y2="550" stroke-width="4" style="stroke:black;" />
        <line x1="50" y1="550" x2="50" y2="50" stroke-width="4" style="stroke:black;" />

        @for (int i = 0; i < 11; i++)
        {
            int y = 550 - (yLine * i);
            <line x1="50" y1="@y" x2="750" y2="@y" stroke-width="1" style="stroke:black; opacity:0.25;" />
            if (i > 0)
            {
                <g>
                    <text x="10px" y="@(550 - (yLine * i))px"> @(i)0% </text>
                </g>
            }
        }

        @foreach (var item in Products)
        {
            <rect class="chart-rectangle" width="20" height="@(item.Quantity*5)"
              fill="rgb(@GetRandomColor(),@GetRandomColor(),@GetRandomColor())"
              stroke-width="2" y="@(550-(item.Quantity*5))" x="@(xStart+=40)">
            </rect>
            <text>
                <text class="chart-rectangle-tooltip" y="@(520-(item.Quantity*5))" x="@(xStart-10)">
                    N: @item.Name
                </text>
                <text y="@(540-(item.Quantity*5))" x="@(xStart-10)">
                    V: @item.Quantity
                </text>
            </text>
            <g>
                <text x="@(xLabelStart+=40)" y="580px" rotate="0"> @item.Name </text>
            </g>
        }
    </svg>
    <br />

    <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="background-color:lemonchiffon; border:5px solid gray;">

        <rect x="0" y="0" fill="blue" width="10" height="10" transform="rotate(45)" />
        <rect x="100" y="140" fill="green" width="10" height="10" />
        <rect x="100" y="140" fill="black" width="10" height="10" transform="rotate(2)" />
        <rect x="100" y="140" fill="red" width="10" height="10" transform="translate(0,10) rotate(10)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" />
        <g><text x="100" y="100">rotate</text></g>
        <rect x="250" y="0" fill="rgb(@colorRed,@colorGreen,@colorBlue)"
              width="15" height="15" transform="rotate(5)" @onclick="ChangeColor" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(10)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(15)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(20)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(25)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(30)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(35)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(40)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(45)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(50)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(55)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(60)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(65)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(70)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(75)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(80)" />
        <rect x="250" y="0" fill="blue" width="10" height="10" transform="rotate(85)" />
        <rect x="200" y="200" fill="red" width="100" height="100" transform-origin="250 250" transform="rotate(45)" />

        <rect x="100" y="100" fill="rgb(74 180 184)" width="20" height="20" transform="scale(2)" />
        <rect x="200" y="200" fill="purple" width="20" height="20" />
        <g transform="scale(0.5)">
            <rect x="400" y="400" fill="orange" width="20" height="20" />
        </g>
        @*    <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="background-color:lemonchiffon; border:5px solid gray;">

        <circle cx="10" cy="10" r="2" fill="red" />
        <circle cx="90" cy="90" r="2" fill="red" />
        <circle cx="90" cy="10" r="2" fill="red" />
        <circle cx="10" cy="90" r="2" fill="red" />

        <path d="M 10 10 C 20 20, 40 20, 50 10" stroke="black" fill="transparent" />
        <path d="M 70 10 C 70 20, 110 20, 110 10" stroke="black" fill="transparent" />
        <path d="M 130 10 C 120 20, 180 20, 170 10" stroke="black" fill="transparent" />
        <path d="M 10 60 C 20 80, 40 80, 50 60" stroke="black" fill="transparent" />
        <path d="M 70 60 C 70 80, 110 80, 110 60" stroke="black" fill="transparent" />
        <path d="M 130 60 C 120 80, 180 80, 170 60" stroke="black" fill="transparent" />
        <path d="M 10 110 C 20 140, 40 140, 50 110" stroke="black" fill="transparent" />
        <path d="M 70 110 C 70 140, 110 140, 110 110" stroke="black" fill="transparent" />
        <path d="M 130 110 C 120 140, 180 140, 170 110" stroke="black" fill="transparent" />
        </svg>
        *@

    </svg>
</div>

<br />
<br />
<br />
<div class="chart-rectangle">
    <p>testTooltip</p>
    <p class="chart-rectangle-tooltip">tooltip</p>
</div>

@code {
    int xLabelStart = 30, xStart = 30, yLine = 50;

    List<ProductionQuantity> Products = new()
    {
        new ProductionQuantity("oh", 41),
        new ProductionQuantity("tz", 24),
        new ProductionQuantity("ta", 67),
        new ProductionQuantity("tg", 84),
        new ProductionQuantity("05", 79),
        new ProductionQuantity("06", 4),
        new ProductionQuantity("07", 53),
        new ProductionQuantity("08", 21),
        new ProductionQuantity("09", 43),
        new ProductionQuantity("10", 55),
        new ProductionQuantity("11", 100)
    };

    [Parameter]
    public int colorRed { get; set; } = 0;
    [Parameter]
    public int colorGreen { get; set; } = 0;
    [Parameter]
    public int colorBlue { get; set; } = 0;

    private void ChangeColor()
    {
        Random rnd = new();
        colorRed = rnd.Next(0, 255);
        colorGreen = rnd.Next(0, 255);
        colorBlue = rnd.Next(0, 255);

    }

    public int GetRandomColor()
    {
        Random rnd = new();
        return rnd.Next(0, 255);
    }
}
